.str-video {
  --str-video__primary-color: hsl(var(--primary));
  --str-video__secondary-color: hsl(var(--secondary));
}

html.dark .str-video {
  --str-video__primary-color: hsl(var(--primary));
  --str-video__secondary-color: hsl(var(--secondary));
}
